# cậu biết không tớ yêu cậu lắm í•^•
*.có:3 
*.không:(

# tớ rất vui vì cậu đã ủng hộ mình đấy 
*.vậy hả 
*.kệ cậu 
# cuối cùng tớ muốn nói tớ rất rất yêu cậu vậy nên đừng rút flow tớ nhé:(
*.được thôi:3
*.tớ vẫn rút:)
# còn chần chờ gì mã không ủng hộ tớ một flow với tym 
*.okla 
*.tớ xem chùa:)
# ai mà xem chùa là tớ trù cậu đó ẻ chảy cả đời •^• 
